@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* ------------ hero section ----------------------- */

.hero-wrapper{
    max-width: 1400px;
    width: 100%;
}

.hero-container {
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    height: 100vh;
  }
  
  
  .hero-wrapper {
    align-items: center;
    width:100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
  }
  
  
  .right-watch-image {
    width: 550px;
  }
  

.img-one {
    width: 120px;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}

.img-one img{
 border-radius: 10px;
 transition: ease-in-out .5s;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
 -webkit-transition: ease-in-out .5s;
 -moz-transition: ease-in-out .5s;
 -ms-transition: ease-in-out .5s;
 -o-transition: ease-in-out .5s;
}

.img-one img:hover{
    background: #000;
    padding: 5px;
}


img {
    width: 100%;
}

img.star {
    width: 17px;
    /* letter-spacing: 7px; */
}


h1 {
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 1000;
    line-height: 51px;
  }
  
  .left-items {
    width: 1fr;
  }
  
  .left-items {
    width: 58%;
  }
  
  .price {
    color: #000;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 5px;
  }
  
  h1.hero-heading {
    margin-bottom: 100px;
    color: black;
  }


.stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.cart-button{
    width: 300px;
    padding: 14px 0;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.interest-text{
    font-size: 16px;
    letter-spacing: .5px;
    margin-bottom: 3px;
    color: #000;
}

.review{
    color: #000;
    font-size: 16px;
    padding-left: 8px;
}


/* features container */


.features-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.features-wrapper{
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-cont-feature{
    padding-top: 100px;
    width: 40%;
}

.image-cont-feature img{
    width: 100%;
}

.text-cont-feature{
    width: 50%;
    padding-left: 50px;
}

.feature-heading {
    font-size: 64px;
    display: inline-block;
    font-weight: 800;
    /* padding: 0px 21px; */
    padding-left: 27px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.all-features p {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 600;
    color: #000000;
    line-height: 24px;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

span.material-symbols-outlined {
    padding-top: 5px;
    padding-right: 5px;
}


/*   iframe container  */


.iframe-container {
   width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
}
.iframe-wrapper {
    width: 100%;
    height: 100%;
}
.iframe-video{
    width: 100%;
    height: 100vh;
}

/* main pros section */
.container{
    display: flex;
    position: relative;
    flex-direction: column;
    background: rgb(32, 32, 32);
}
.main-container-pros{
    width: 100%;
    height: 100vh;
    background: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    position: relative;
}

.main-wrapper-pros{
    display: flex;
    align-items: center;
    max-width: 1536px;
}

.text-container-pros {
    width: min-content;
    margin-left: 50px;
}

.pros-description{
    color: #fff;
    font-size: 20px;
}

.pros-heading{
    font-size: 58px;
    font-weight: 800;
    color: #fff;
    line-height: 60px;
    margin-bottom: 50px;
}

.pros-description{
    font: 20px;
    color: #fff;
}



img.watch-images-pro1 {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 1439px;
}

.pros-container2{
    width: 100%;
}



/* skeletonized */
.skeletonized-contianer{
  position: relative;
  height: 100vh;
}
.skeletonized-wrapper{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.text-container-skeletonized {
    width: min-content;
    align-self: center;
    margin-right: 50px ;
}
.watch-images-pro2{
    position: absolute;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.watch-images-pro3{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 1000px;
}

.pros-image3{
    width: 1000px;
}


/* grid section */

.grid-section{
    width: 100%;
    height: 100vh;
}

.grid-section-wrapper{
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 400px);
}

.grid-item-3{
    grid-column: span 2;
    height: 50%;
}
.grid-item-4{
    grid-column: 2;
    grid-row : 2/2;
}

.grid-item-3.description,.heading{


}

.grid-item-3{
    background: gold;
}

span.heading {
    font-size: 58px;
    display: block;
    font-weight: 800;
    text-transform: uppercase;
}




/* review container */



.review-container{
    background: #000;
    width: 100%;
    margin-top: 350px;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}


.review-wrapper{
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.reviews-wrapper{
    margin-bottom: 50px;
}
.stars1{
    display: flex;
    justify-content: center;
}

.review-heading span{
    display: block;
    font-size: 58px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 50px;

}
.stars-text{
    display: block;
    color: #fff;
    margin-bottom: 10px;
}

.previous-and-next span{ 
   color: #fff;
   text-transform: capitalize;
   margin-right: 5px;
   cursor: pointer;
}

.previous-and-next span:nth-child(3){
    border-bottom: 1px solid rgb(255, 10, 10)
}

